:root {
  --primary-color: #0c0c0cde;
  --primary-color-rgb: 4, 8, 54;

  --secondary-color: #2bec1a;
  --secondary-color-2: #f1ee18;
  --secondary-color-rgb: 26, 167, 236;
  --secondary-color-rgb-2: 121, 126, 246;
}